#root {
  width: 100%;
  margin: 0;
  background-color: #161616;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #161616;
  font-family: "primaryFont", serif;
  letter-spacing: 2px;
  overflow-x: hidden; /* Prevent horizontal scroll */
}
