@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css */
@font-face {
  font-family: "primaryFont";
  src: url("./assets/fonts/Viagram.otf") format("truetype");
  src: url("./assets/fonts/Soligant.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
